server:
  port: ${SERVER_PORT}

spring:
  application:
    name: notification-service

  rabbitmq:
    addresses: ${RABBITMQ_URL}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}
    listener:
      simple:
        retry:
          enabled: true
          initial-interval: 3000ms
          multiplier: 2
          max-retries: 3